.video-container {
    display: flex;
    flex-direction: column;
    width: 500px;
	margin: auto;
    background-color: whitesmoke;
    padding: .3em;
}
a {
	text-align: center;
}
a:hover{
	color: red;
}

body {
	background-color: white;
	}