.container {
    display: grid;
    grid-template-columns: 100px auto 110px;
    grid-template-rows: 50pxauto;
    grid-gap: .5em;
    padding: .5em;
    margin: auto 0;
    justify-content: center;
}

.url-container {
    margin: auto 0;
}





